form {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

#lijevo,
#desno {
  display: flex;
  flex-direction: column;
}

.kontakt-element {
    padding: 20px 10px 0 10px;
}

.kontakt-element .label1 {
    padding-bottom: 5px;
}

@media only screen and (max-width:768px){
  
  form{
    flex-direction: column;
  }
} 